#nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(36, 42, 56);
  height: 40px;
  padding: 20px;
  padding-right: 5px;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#nav h2 {
  margin-left: 30px;
  margin-top: 0;
}

#right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10em;
  margin-left: auto;
}

#right a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  color: white;
  text-align: left;
}
