.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Change to space-around when there are more cards */
}

#Work {
  text-align: center;
  background-color: #385677;
  color: white;
}

#Work h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 300%;
}

.learnButton {
  margin-left: 9em !important;
}
