.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Change to space-around when there are more cards */
}

#Work {
  padding-top: 100px;
  text-align: center;
  background-color: #385677;
  color: white;
}

#Work h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 300%;
}

#learnMore {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px !important;
}
