#Projects {
  background-color: #385677;
}

.title {
  text-align: center;
}

.ProjectCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ProjectStyle {
  background-color: #385677;
  display: flex;
  flex-direction: column;
  height: auto;
}

.ProjectCards #pcard {
  margin: 10px 10px 10px 10px;
  border: 7px solid rgb(36, 42, 56);
  width: 360px;
}
